.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.sider {
  border-right: 1px solid #f0f0f0;
}

.content {
  padding: 24px;
  background: #f5f5f5;
  overflow: auto;
}
