TZ=Asia/Shanghai

MYSQL_PORT=33306
MYSQL_DATABASE=qa_compare_mysql
MYSQL_ROOT_PASSWORD=Root_123456

POSTGRES_PORT=35432
POSTGRES_DB=qa_compare_pg
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Postgres_123456

SQLSERVER_PORT=31433
MSSQL_SA_PASSWORD=SqlServer_123456

ORACLE_PORT=31521
ORACLE_SYS_PASSWORD=Oracle_123456
ORACLE_APP_USER=qa_compare
ORACLE_APP_PASSWORD=OracleApp_123456
ORACLE_SERVICE=FREEPDB1
